* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; // Full viewport height for centering
  background-color: #f9f9f9; // Light background
  padding: 20px;

  .content {
    background: #fff; // White background for contrast
    border: 1px solid #e6e6e6; // Subtle border
    border-radius: 8px; // Rounded corners
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); // Soft shadow
    padding: 20px;
    max-width: 500px; // Limit the width for readability
    width: 100%; // Ensure it takes the full width on small screens
    text-align: center;

    h5 {
      font-size: 18px; // Slightly larger for emphasis
      margin-bottom: 15px;
      color: #333; // Dark gray for good readability
    }

    textarea {
      width: 100%;
      height: 100px; // Fixed height for better user experience
      padding: 10px;
      border: 1px solid #eaeaea;
      border-radius: 5px;
      font-size: 14px;
      resize: none; // Disable resizing for a consistent layout
      margin-bottom: 15px;
      transition: border-color 0.3s ease;

      &:focus {
        border-color: #007bff; // Change border color on focus
        outline: none;
        box-shadow: 0 0 3px rgba(0, 123, 255, 0.5); // Soft focus effect
      }
    }

    button {
      background-color: #007bff; // Primary button color
      color: #fff;
      border: none;
      border-radius: 5px;
      padding: 10px 20px;
      font-size: 14px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #0056b3; // Darker shade on hover
      }

      &:active {
        background-color: #004085; // Even darker shade on click
      }
      &[disabled] {
        background-color: #004085; // Grayish background
        cursor: not-allowed; // Indicate it's not clickable
        opacity: 0.9; // Reduced opacity
        pointer-events: none; // Disable all pointer events
      }
    }

    div {
      margin-top: 20px;

      p {
        font-size: 14px;
        color: #555; // Muted text color
        background: #f0f0f0; // Subtle background for answer
        border-radius: 5px;
        padding: 10px;
      }
    }
  }
}

.hint {
  color: #a1a1a1 !important;
}

.error {
  color: #a31b1b !important;
}
