<div class="container">
  <div class="content">
    <h5>Write the question</h5>
    <textarea [(ngModel)]="question" placeholder="Type here..."></textarea>
    <button (click)="onSubmitClick()" [disabled]="!question || isLoading">
      Ask AI Agent to answer
    </button>
    <div>
      @if (isLoading) {
        <app-spinner></app-spinner>
      } @else {
        @if (answer) {
          <p>{{ answer }}</p>
        }
        @if (error) {
          <p class="error">
            {{
              error === "failed to generate AI response"
                ? "Sorry, I didn't get your question. Please, provide more details"
                : ""
            }}
          </p>
        }
        @if (!answer && !error) {
          <p class="hint">The answer will appear here</p>
        }
      }
    </div>
  </div>
</div>
